@font-face {
    font-family: "Dacherry";
    src: url("../fonts/Dacherry/Dacherry.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    text-transform: uppercase;
}

:root {
    --color-primario: #C4EEF2;
    --color-secundario: #B0D5D9;
    --color-terciario: #6BBFBF;
    --color-claro: #F2F2F2;
    --color-oscuro: #595959;
    --color-darkMode: #343434;
}

.bg-white {
    background-color: var(--color-primario) !important;
}

.bg-dark {
    background-color: var(--color-darkMode) !important;
}

h1 {
    color: var(--color-claro);
    font-family: Dacherry;
    text-transform: uppercase;
}