.error {
  color: red;
  font-size: 0.875rem;
}


body {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(244, 247, 251, 0.7)),
    url('../img/nuevo_fondo.JPG');
  background-size: cover;
  background-position: center;
  margin: 0;
}

.card {
  background: #F8F9FD;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.9);
  margin: 1rem auto;
  width: 400px;
}


.contenedor-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
}

.formulario-sesion .form-floating {
  margin-bottom: 16px;
}

.boton-sesion {
  width: 100%;
  margin-top: 16px;
}

.pregunta-registro {
  margin-top: 24px;
}


h1 {
  color: #222831;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  border-left: 6px solid #00adb5;
  padding-left: 1rem;
  align-self: flex-start;
  text-align: center;
}


/* PONER EN LOS DEMAS ARCHIVOS */
.form-floating>.form-control,
.form-floating>.form-select {
  border: 1px solid black;
  border-radius: 20px;
}