  @import url(global.css);

  .custom-navbar {
    background-color: #C4EEF2 !important;
  }

  .btn {
    border-radius: 25px !important;
  }

  .btn-custom {
    background-color: #6BBFBF;
    color: black;
    border: none;
  }

  .nav-item {
    padding-right: 20px;
  }

  .nav-item .nav-link {
    position: relative;
    padding-bottom: 5px;
  }

  .nav-item .nav-link::after {
    /* se encarga de subrayar */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  .nav-item .nav-link:hover::after {
    /* se encarga de subrayar */
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-item:hover .nav-link {
    color: white !important;
  }


  
  .premium-link .fa-star {
  color: rgb(252, 235, 121) !important;
  transition: transform 0.3s ease, color 0.3s ease; 
}

.premium-link:hover .fa-star {
  color: white !important; 
  animation: girarEstrella 1.5s infinite linear; 
}

@keyframes girarEstrella {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.fa-solid {
  color: white;
}

.custom-navbar .btn-custom {
  color: white !important;
  /* sino, cambia de color */
  background-color: #6BBFBF;
  border: none;
}

.btn-custom:hover {
  background-color: #B0D5D9;
  color: black;
}

.navbar {
  overflow: visible !important;
  position: relative;
  z-index: 50;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

.logo img {
  height: 35px;
  top: -67px;
  left: 0;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s ease;
  position: absolute;
  right: 0;
  min-width: 200px;
  pointer-events: none;
}

.dropdown-menu.show { 
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}

.navbar-nav {
  position: relative;
}
