@font-face {
    font-family: 'Teko';
    src: url("../fonts/Teko/Teko-Bold.ttf") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
    font-weight: 700;
    font-display: swap;
}

:root {
    --color-primario: #C4EEF2;
    --color-secundario: #B0D5D9;
    --color-terciario: #6BBFBF;
    --color-claro: #F2F2F2;
    --color-oscuro: #595959;
    --color-darkMode: #343434;
}

.bg-white {
    background-color: var(--color-primario) !important;
}

.bg-dark {
    background-color: var(--color-darkMode) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    color: var(--color-oscuro);
}

p, label, span, ::placeholder, option, button, li, ul {
    font-family: 'Roboto', sans-serif;
}